@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.header__contenedor{
    padding: 20px 28px 20px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #01579B;
}
.header__navegacion-principal{
    text-align: center;
    display: flex;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo  i{
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 17px;
    cursor: pointer;
}
.header__logo-titulo{
    font-size: 11px;
    color: #FFFFFF;
}
.header__opciones{
    display: flex;
    font-size: 18px;
    color: #FFFFFF;
    
}
.header__opciones i{
    margin-left: 27px;
}
/* ---------------MENU DE NAVEGACION    */

.header__menu-navegacion{
    width: 290px;
    padding-left: 27px;
    position: absolute;
    left: -100%;
    transition: all 0.5s;
    height: 100vh;
    background: #ffffff;
    overflow-y: auto;
    z-index: 100;
}
.mostrar{
    left: 0;
}
.oscuro::before{
    content: "";
    position: absolute;
    top: 70.4px;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
    transition: all 0.5s;
}
.header__navegacion-logo{
    display: flex;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid rgba(73, 73, 73, 0.267);
    margin-bottom: 15px;
    
}
.header__navegacion-logoicono i{
    font-size: 35px;
    color: #01579B;
    margin-right: 15px;
    
}
.header__navegacion-logotitulo{
    display: flex;
    align-items: center;
}
.header__navegacion-logotitulo h1:nth-child(0n+1){
    font-size: 18px;
    color: #3D484E;
}
.header__navegacion-logotitulo h1:nth-child(0n+2){
    font-size: 18px;
    color: #0157A1;
}

.navegacion-texto{
    font-size: 13px;
    font-weight: 900;
    color: #767E82;
    
}
.menu-item {
    list-style: none;
    font-size: 22px;
    margin-top: 21px;
}
.menu-item:nth-child(0n+1){
    color: #2196f3;
}
.menu-item:nth-child(0n+2){
    color: #00bcd4;
}
.menu-item:nth-child(0n+3){
    color: #f44639;
}
.menu-item:nth-child(0n+4){
    color: #37aa9e;
}
.menu-item:nth-child(0n+5){
    color: #4354b6;
}
.menu-item:nth-child(0n+6){
    color: #029688;
}
.menu-item:nth-child(0n+7){
    color: #e91e63;
}
.menu-item:nth-child(0n+8){
    color: #03a9f4;
}
.menu-item:nth-child(0n+9){
    color: #ff9904;
}
.menu-item:nth-child(0n+10){
    color: #4caf50;
}
.menu-item:nth-child(0n+11){
    color: #000000;
}
.menu-item:nth-child(0n+12){
    color: #1a9e97;
}
.menu-item:nth-child(0n+13){
    color: #ff5a25;
}
.menu-item:nth-child(0n+14){
    color: #9c27b0;
}
.menu-item:nth-child(0n+15){
    color: #9c27b0;
}
.menu-item:nth-child(0n+16){
    color: #4b57b6;
}
.menu-item:nth-child(0n+17){
    color: #f34121;
}
.menu-item:nth-child(0n+18){
    color: #21d4f3;
}
.menu-item:nth-child(0n+19){
    color: #f321d7;
}
.menu-item:nth-child(0n+20){
    color: #7221f3;
}
.menu-item a{
    font-size: 16px;
    margin-left: 20px;
    color: #717071;
}
.header__nav-menu a{
    text-decoration: none;
}





/* ------------------DASHBOARD */
.main__contenedor{
    padding: 20px 28px 20px 28px;
    justify-content: space-between;
    
}
.dashboard__titulo{
    display: flex;
    justify-content: space-between;
}
.dashboard__titulo p{
    color: #404242;
    font-size: 18px;
}
.dashboard__titulo i{
    color: #636666;
    font-size: 18px;
    margin-left: 10px;
    display: block;
    
}
.dashboard__titulo-extremo{
    display: flex;
    align-items: center;
}
/* cajas del DASHBOARD---------------------------- */
.dashboard-caja{
    
    margin-top: 25px;
    
}
.dashboard-caja__info{
    padding: 26px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    border-radius: 3px;
}
.dashboard__png {
    align-items: center;
}
.dashboard__png i{
    font-size: 50px;
}
.dashboard-caja__detail{
    padding: 7px;
    border-radius: 3px;
    
    text-align: right;
}
.dashboard-caja__detail p{
   color: #ffffff;
}
.dashboard-caja:nth-child(0n+2){
    background: #03A9F4; 
}
.dashboard-caja:nth-child(0n+2) .dashboard-caja__detail{
    background: #0599dd;
}

.dashboard-caja:nth-child(0n+3){
    background: #f44336; 
}
.dashboard-caja:nth-child(0n+3) .dashboard-caja__detail{
    background: #db3c30;
}
.dashboard-caja:nth-child(0n+4){
    background: #ff9800; 
}
.dashboard-caja:nth-child(0n+4) .dashboard-caja__detail{
    background: #e58900;
}
.dashboard-caja:nth-child(0n+5){
    background: #4caf50; 
}
.dashboard-caja:nth-child(0n+5) .dashboard-caja__detail{
    background: #449d48;
}

